.navbar{
    margin-bottom: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-nav{
    margin-right:1%; /* Or change it as your needs */
}

.btn-social{
    font-size: large;
}

.navbar-header{
    cursor: pointer;
}


.collapse-btn{
    align-content: flex-end;
    text-align: end;
}

.collapse-btn {
    display: none;
  }

@media only screen and (max-width: 768px) {
    .collapse-btn {
        display: inherit;
    } 
}