.navbar{
    margin-bottom: 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-nav{
    margin-right:1%; /* Or change it as your needs */
}

.btn-social{
    font-size: large;
}

.navbar-header{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar-continer{
        align-items: center;
    }

    .navbar-soicial{
        visibility: collapse;
    }
    .navbar-soicial{
        height: 0px;
    }

    .navbar-soicial-mobile{
        text-align-last: right;
        margin-right: 5%;
    }

    .bg-light{
        padding-bottom: 0px;
    }
    
  }

  .navbar-soicial-mobile{
    visibility: collapse;
  }
  @media only screen and (min-width: 601px) {
    .navbar-soicial-mobile{
        visibility: hidden;
        height: 0px;
        
    }

    
  }