<!-- Navbar Component -->
<app-navbar></app-navbar>

<!-- Homepage html -->

<!-- Top of Page With Opening Graphs Section -->

<div class="top">
  <div class="top-wrapper" id="top">
      <app-simplebarchart *ngIf="fakecasesbar" [data]="fakecasesbar">
      </app-simplebarchart>
      <app-simplelinechart *ngIf="fakecases" [data]="fakecases">
      </app-simplelinechart>
      <div class="callout_jumbo">
        <div class="typewriter">
          <div class="line1">
            Hello, welcome <br> to my portfolio.
          </div>
        </div>
      </div>
  </div>
</div>

<!-- About Me Section -->

<div class="aboutme-nav" id="aboutme-nav">
  <div class="aboutme-header">About Me</div>
  <div class="aboutme-wrapper">
    <div class="svg-wrapper-me">
      <!-- EDIT CONTENT BELOW -->
        <img class="photo-me" src="../../../assets/shantanu_khond.JPG" />
        <h5 class="aboutme-context"><span class='highlight'><strong>Hey!</strong> I'm Shantanu, a <strong>Data Engineer</strong> passionate about leveraging data to drive insights and innovation for social good.</span></h5>
        <h5 class="aboutme-context"><span class='highlight'>
          Currently Working as Senior Data Engineer @LTIMindtree </span></h5>  

          <h5 class="aboutme-context"><span class='highlight'>
          4+ years experiance in data engineering in Helthcare, Retail and Banking domain
</span></h5>

        <h5 class="aboutme-context"><span class='highlight'>
          Microsoft And GCP Certified Data Engineer  
        </span>
        </h5>

        <a href='/resume'  class="waves-effect waves-light btn square-btn navigate">My Resume</a>
      </div>
      
    <!-- <div class="callout-wrapper">

      <div class="svg-wrapper-callout1" >
        <div class="call-out">
            <-- EDIT CONTENT BELOW --
          <h5 class="aboutme-context"><span class='highlight'>
            Currently Working as Senior Data Engineer @LTIMindtree
          </span></h5>  
        </div>
      </div>
      <div class="svg-wrapper-callout2">
        <div class="call-out">
              <!-- EDIT CONTENT BELOW --
          <h5 class="aboutme-context"><span class='highlight'>
            Microsoft And GCP Certified Data Engineer  
          </span>
          </h5>
        </div>
      
      </div>
    </div> -->
  </div>
</div>



<!-- This is the projects content that will show on a larger screen (not mobile) -->

<div class="projects-div" id="navigate">
  <div class="projects-header">Projects</div>
  <div class="projects-wrapper"  *ngIf="!mobile">

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a><h5 class="project_title"><span class='highlight-title'>Podlabs</span></h5></a>
            <span class='highlight-desc'>
              Podlabs is a revolutionary solution that measures the human interaction with a product, service, or media. Using machine learning, data engineering, and other frameworks, we have developed a product that captures and analyzes the responses of the viewers/end users using ubiquitous sensors. Podlabs can provide you with valuable analytics and insights on their behaviour, feelings, moods, and cognition. Podlabs can also uncover the hidden truths of your customers’ emotional territory and their coordinates of feelings to find their relevance. With Podlabs, you can understand your customers better and improve your offerings. Podlabs is the ultimate tool for leveraging a deeper, meaningful customer understanding and relationship with brands.
            </span>
        </p>
        <a href='https://podlabs.in/' class="waves-effect waves-light btn square-btn navigate">Read more</a>
      </div>
    </div>


    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a target='_blank'><h5 class="project_title"><span class='highlight-title'>Facecaf</span></h5></a>
          <span class='highlight-desc'>
            Facecaf was a service to capture shopper conversion in retail stores without any interaction and intrusion. It was
based on face recognition but completely with anatomized data.
          </span>
        </p>
        <a href='https://podlabs.in/solutions/' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <div class="project_two">
    </div>

    <div class="project_three">
    </div>

    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Healthcare - Data Warehousing and Reporting</span></h5></a>
          <span class='highlight-desc'>
            Developed and implemented a data warehouse solution for healthcare organizations that enables analytics and BI reporting on various aspects of patient care, provider management, and insurance claims. I have integrated the data warehouse with EHR software and data lake, ML, and BI tools to provide advanced analytics capabilities. Also, created reports on admissions after discharge, ADT data, SLA tracking, claim settlement, provider appointment, patient onboarding, claims criteria, patient care lifecycle, care specialist performance, and provider visits.
          </span>
        </p>
        <!-- <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
      </div>
    </div>

   
  <div class="project_four_context">
    <div class='proj-wrapper'>
      <p class="project_description">
          <!-- EDIT CONTENT BELOW -->
        <a href='###'><h5 class="project_title"><span class='highlight-title'>Retail - Data Warehousing and Reporting</span></h5></a>
          <span class='highlight-desc'>
            Built a data warehouse for environmental sustainability in compliance with the new EU laws and delivered reports to the business and the government. Furthermore, isolated and created a separate data warehouse for the Russian market due to sanctions and rebuilt it from scratch. Additionally, was involved in maintaining, developing, and deploying changes and enhancements to a data warehouse for retail for one of the world’s top 10 tobacco companies. I was responsible for fixing issues, loading actual and forecast data, and reporting for actual vs reference for finance and submissions. I also handled the master data maintenance and loading into various layers and reporting tools. As a finance data lake, the reports had to be populated as quickly as possible, and critical application issues had to be resolved promptly. I also understood the business requirements and proposed changes and implementations accordingly.    
          </span>
      </p>
      <!-- <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
    </div>
  </div>
  <div class="project_four">
  </div>
    

    <div class="project_five">
    </div>

    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Website For Education</span></h5></a>
            <span class='highlight-desc'>
              Developed a website using the MEAN stack for an educational institute that connects mentors with students. The MEAN stack consists of MongoDB, Express.js, AngularJS, and Node.js, which are technologies for creating dynamic and scalable web applications. The development process involved understanding the business requirements, designing the flow, developing static pages as well as user consoles for profile, payments, etc. also provided an interface for payment, scheduling meetings, and publishing study material to students according to their payment plan. The website aims to facilitate the learning and mentoring process for both students and mentors. 
            </span>
        </p>
        <!-- <a href='###'  class="waves-effect waves-light btn square-btn navigate">Go to site</a> -->
      </div>
    </div>

  </div>

  <!-- This is the projects content that will show on a mobile device -->
  <div class="projects-wrapper"  *ngIf="mobile">

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a><h5 class="project_title"><span class='highlight-title'>Podlabs</span></h5></a>
            <span class='highlight-desc'>
              Podlabs is a revolutionary solution that measures the human interaction with a product, service, or media. Using machine learning, data engineering, and other frameworks, we have developed a product that captures and analyzes the responses of the viewers/end users using ubiquitous sensors. Podlabs can provide you with valuable analytics and insights on their behaviour, feelings, moods, and cognition. Podlabs can also uncover the hidden truths of your customers’ emotional territory and their coordinates of feelings to find their relevance. With Podlabs, you can understand your customers better and improve your offerings. Podlabs is the ultimate tool for leveraging a deeper, meaningful customer understanding and relationship with brands.  
            </span>
        </p>
        <a href='https://podlabs.in'  class="waves-effect waves-light btn square-btn navigate">Read more</a>
      </div>
    </div>
    
    <div class="project_two">
    </div>
    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a target='_blank'><h5 class="project_title"><span class='highlight-title'>Facecaf</span></h5></a>
          <span class='highlight-desc'>
            Facecaf was a service to capture shopper conversion in retail stores without any interaction and intrusion. It was
based on face recognition but completely with anatomized data.
          </span>
        </p>
        <a href='https://podlabs.in/solutions/' target='_blank' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <div class="project_three">
    </div>
    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Data warehousing and Reporting For Healthcare</span></h5></a>
          <span class='highlight-desc'>
            Developed and implemented a data warehouse solution for healthcare organizations that enables analytics and BI reporting on various aspects of patient care, provider management, and insurance claims. I have integrated the data warehouse with EHR software and data lake, ML, and BI tools to provide advanced analytics capabilities. Also, created reports on admissions after discharge, ADT data, SLA tracking, claim settlement, provider appointment, patient onboarding, claims criteria, patient care lifecycle, care specialist performance, and provider visits.
          </span>
        </p>
        <!-- <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
      </div>
    </div>
    <div class="project_four">
    </div>
    <div class="project_four_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Retail Data warehousing and Reporting</span></h5></a>
            <span class='highlight-desc'>
              Built a data warehouse for environmental sustainability in compliance with the new EU laws and delivered reports to the business and the government. Furthermore, isolated and created a separate data warehouse for the Russian market due to sanctions and rebuilt it from scratch. Additionally, was involved in maintaining, developing, and deploying changes and enhancements to a data warehouse for retail for one of the world’s top 10 tobacco companies. I was responsible for fixing issues, loading actual and forecast data, and reporting for actual vs reference for finance and submissions. I also handled the master data maintenance and loading into various layers and reporting tools. As a finance data lake, the reports had to be populated as quickly as possible, and critical application issues had to be resolved promptly. I also understood the business requirements and proposed changes and implementations accordingly.    

            </span>
        </p>
        <!-- <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
      </div>
    </div>
    <div class="project_five">
    </div>
    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Website For Education</span></h5></a>
            <span class='highlight-desc'>
              Developed a website using the MEAN stack for an educational institute that connects mentors with students. The MEAN stack consists of MongoDB, Express.js, AngularJS, and Node.js, which are technologies for creating dynamic and scalable web applications. The development process involved understanding the business requirements, designing the flow, developing static pages as well as user consoles for profile, payments, etc. also provided an interface for payment, scheduling meetings, and publishing study material to students according to their payment plan. The website aims to facilitate the learning and mentoring process for both students and mentors. 

            </span>
        </p>
        <!-- <a href='###'  class="waves-effect waves-light btn square-btn navigate">Go to site</a> -->
      </div>
    </div>
  </div>
</div> 

<!-- Medium Post section (the Medium widget should already be loaded, just edit the handle below) -->
<!-- EDIT CONTENT BELOW -->
<!-- Change your medium handle below at the @ symbol -->
  <div class="mid1" id="medium">
    <div class="medium-logo">
      <img src="../../../assets/mediumlogo.svg" />
      <h2>Publications</h2>
    </div>
    <div class="medium-posts" >
      
 

    

    </div>
  </div>


<!-- Final section area (feel free to delete if you do not have any utility for it!) -->
  <!-- EDIT CONTENT BELOW -->
<div class="section4" id='section4'>
  <div class="section4-header">A Glimpse Into My World</div>
  <div class="info_div">
    <div class="section4-content">
      <p>A Portfolio of Hobbies, YouTube, and Instagram
      <ul>
        <li><i class="material-icons">chevron_right</i><a href="https://www.instagram.com/thethoughtswhispers/">The Thoughts Whispers</a></li>
        <li><i class="material-icons">chevron_right</i><a href="https://www.youtube.com/@cyanogamer">Cyano Gaming Zone</a></li>
        <li><i class="material-icons">chevron_right</i><a>Chess</a></li>
        <li><i class="material-icons">chevron_right</i><a href="https://medium.com/@shantanukhond">Blogging</a></li>
        <li><i class="material-icons">chevron_right</i><a>Garedning</a></li>
      </ul>
    </div>

      <div class="parent">
        <div></div>
        <div class="summary_final">
            <br>
            <br>
            <!-- <a href='###' class="waves-effect waves-light btn square-btn rpubs">Button</a> -->
          </div>
        <div></div>
      </div>
  </div>
</div>

<!-- Footer component loaded -->

<app-footer></app-footer>
