<div class="wrapper">
    <div class="sidebar-wrapper">
        <div class="profile-container">
            <h1 class="name">Shantanu Khond</h1>
            <h3 class="tagline">Senior Data Engineer <br>LTIMindTree</h3>
        </div><!--//profile-container-->

        <div class="contact-container container-block">
            <h2 class="container-block-title">Contact</h2>
            <ul class="list-unstyled contact-list">
                <li class="email"><i class="fa fa-envelope"></i><a
                        href="mailto:shantanukhond@gmail.com">shantanukhond</a></li>
                <li class="phone"><i class="fa fa-phone"></i><a href="tel:+918928006064">+91 89280 06064</a></li>
                <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/shantanukhond/"
                        target="_blank">linkedin/shantanukhond</a></li>
                <li class="medium"><i class="fa fa-medium"></i><a href="https://medium.com/@shantanukhond"
                        target="_blank">@shantanukhond</a></li>
                <li class="github"><i class="fa fa-github"></i><a href="https://github.com/shantanukhond"
                        target="_blank">github/shantanukhond</a></li>
                <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/ShantanuKhond"
                        target="_blank">@ShantanuKhond</a></li>
            </ul>
        </div><!--//contact-container-->
        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
            <div class="item">
                <h4 class="degree">Bachelor of Engineering in Computer Technology</h4>
                <h5 class="meta">K.D.K. College of Engineering, Nagpur University</h5>
                <div class="time">CGPA 8.43</div>
                <div class="time">2016-2019 (4 Years Degree course)</div>
            </div><!--//item-->
        </div><!--//education-container-->

        <div>
            <div class="education-container container-block">
                <h2 class="container-block-title">Certification Badges</h2>
                <div class="item">
                    <a href="https://www.credly.com/badges/55a8976d-63fe-45b9-b666-e4a9c0445ddc/public_url"><img src="https://images.credly.com/size/680x680/images/336eebfc-0ac3-4553-9a67-b402f491f185/azure-administrator-associate-600x600.png" width="60" alt="Az-104"></a>
                    <a href="https://www.credly.com/badges/42bd7714-a0ad-429f-90fd-7749fdcdcfd4/public_url"><img src="https://images.credly.com/size/220x220/images/61542181-0e8d-496c-a17c-3d4bf590eda1/azure-data-engineer-associate-600x600.png" width="60" alt="DP-203"></a>
                    <a href="https://google.accredible.com/aaa9d7e6-dbe6-4d8e-a825-310e88bed1f4"><img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/58067580" width="60" alt="Professional Data Engineer"></a>
                    
                    <a href="https://credentials.databricks.com/cbb5105f-66e8-4f4d-a21e-a69c210485be"><img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/63175777" width="60" alt="Databricks Lakehouse Fundamentals"></a>
                    <a href="https://credentials.databricks.com/b08da0e0-e9f2-4492-8e2a-710e9e0cf0f7"><img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/66379495" width="60" alt="Presales EDW-ETL Migration"></a>
                    

                    <a href="https://www.credly.com/badges/39c7b39d-522c-4863-8961-b6db6783cdd1/public_url"><img src="https://images.credly.com/size/220x220/images/be8fcaeb-c769-4858-b567-ffaaa73ce8cf/image.png" width="50" alt="DP-900"></a>
                    <a href="https://www.credly.com/badges/c3e94879-c1ed-4d1d-9a21-918f3a60a079/public_url"><img src="https://images.credly.com/size/220x220/images/70eb1e3f-d4de-4377-a062-b20fb29594ea/azure-data-fundamentals-600x600.png" width="50" alt="DP-900"></a>
                    <a href="https://www.credly.com/badges/8bcd1347-1876-454d-b9b0-fde4dcf51678/public_url"><img src="https://images.credly.com/size/220x220/images/9fd5ad20-ba42-4213-848b-2a99b2778a11/Spark_Level_1_ver_2_-_CC_-_2019.png" width="60" alt="Spark - Level 1"></a>
                    

                </div><!--//item-->
            </div>
        </div>

    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">

        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
            <hr>
            <div class="summary">

                <div>
                    <li>Currently working as Senior Data Engineer at LTIMindTree Ltd.</li>
                    <li> 3.5+ years of experience in Data Warehousing, ETL, Programming, Web Technologies, ML/AI,
                        Databases, Cloud
                        & Data Integration.</li>
                    <li> 4x Microsoft certified (Az-900, DP-900, Az-104, DP-203).</li>
                    <li> GCP Certified Professional Data Engineer.</li>
                    <li> Databricks Accredited “Databricks Lakehouse Fundamentals” and “Presales EDW-ETL Migration”.
                    </li>
                    <li> Self-studied Salesforce developer track (9 Badges, 12,425 points in SF Trailhead)</li>
                    <li> Sound knowledge in Functionality testing, Integration Testing, Release Cycle</li>
                    <li> Certified Machine & Deep Learning Engineer</li>
                    <li> Bachelor of Engineering in Computer Technology from Nagpur University</li>
                    <li> Preparing for Snowflake SnowPro core certification.</li>
                    <li> Awarded Twice by LTIMindtree for Excellent performance.</li>
                </div>


            </div><!--//summary-->
        </section><!--//section-->

        <section class="section experiences-section">

            <h2 class="section-title"><i class="fa fa-bar-chart"></i>Data Engineering & Data Science Experience</h2>

            <div class="company-partition">
                <div class="company"><a class="company-header" href="###" target="_blank">LTIMindTree,</a> Pune,
                    Maharashtra
                </div>
                <div class="item">

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">Global IT Service Delivery</h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">April 2022 - Present</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px; text-align: justify;">
                                <p>Global IT Service Delivery is a project that provides data warehouse solutions for a
                                    retail customer. I worked on the GDP platform, which collects and stores data from
                                    all
                                    markets in data marts. I also worked on the finance data warehouse, which handles
                                    the
                                    monthly, yearly, and half-yearly submissions of financial data. The data is
                                    maintained
                                    and transferred to the data mart and reporting layers, where it can be used by
                                    downstream applications and MSTR, PowerBI reports.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Executed, maintained, and created SSIS jobs
                                    for
                                    the Change Data Capture Process and the Financial data Archive Process.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Optimized tables for faster job execution and
                                    faster data avilability to business.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Implemented RLS in PowerBI to have finetuned
                                    access to business.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Managed UI, Backend and reports for financial
                                    data mart for finance monthly, yearly submissions.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Loading and maintining forecast data from
                                    Machine
                                    learning Model</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Managed Infrastructure such as backup check,
                                    Filegroup check, Reboot, indexing, etc.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Built Monitoring dashboard for all the jobs
                                    and
                                    applications to for better and faster response on failures and building trust on
                                    system.
                                </li>
                                <li><i class="fa-li fa fa-angle-right"></i>Automation of MDM data load and reporting
                                    sync
                                    issues and automating fix of master data missmatch.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Managed Infrastructure such as backup check,
                                    Filegroup check, Reboot, indexing, etc.</li>
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>

                    <br>

                    <div>
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">ESG Reporting</h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">December 2022 - February 2023</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px; text-align: justify;">
                                <p>The EU government has mandated all companies to report the environmental impact of
                                    their
                                    products, especially those that use materials that are harmful to the environment,
                                    such
                                    as
                                    plastic. This application was designed to collect and analyze the product
                                    information
                                    from
                                    various factories. A data mart was created in Data Warehouse for reporting to
                                    business
                                    and
                                    government.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Analyzing and structuring required data for
                                    building
                                    warehouse architecture.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Analyzing business logic and calculations.
                                </li>
                                <li><i class="fa-li fa fa-angle-right"></i>Identifying fields and measures.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building warehouse model and tables.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building “Extract Jobs” for SAP, QAD, CSV,
                                    etc.
                                    to
                                    pull data from Various sources in SSIS.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Creating and configuring control framework,
                                    metadata
                                    and jobs for loading data in data mart.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building Database Views, Models, KPIS and
                                    reports
                                    in
                                    Power Bi.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Verification of numbers from various sources
                                    and
                                    SQL
                                    vs those in Power BI.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Released reports with user manual and
                                    business
                                    definition.</li>
                            </ul>
                        </div><!--//details-->
                    </div>

                    <br>

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">GDF Reporting Enhancements</h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">August 2022 - September 2023</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px;">
                                <p>The datamart and reports were build and deployed but business was not using due to
                                    incorrect calculations and missing data. A dedicated project was created to fix all
                                    the
                                    issues and build trust in data mart.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Anlyzed data and fixed incorrect logic from
                                    the
                                    implemented ETL.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Developed and deployed job with newly added
                                    columns and correct calculations.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Modified control framework to pull newly
                                    added
                                    columns.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Modified PowerBi dataset and reports to
                                    deplay
                                    newly added columns.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Verification of numbers from various sources
                                    and
                                    reconciliation files vs those in Power BI.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Released reports with user manual and
                                    business
                                    definition.</li>
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>

                    <br>

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">Russia Isolation/Migration (From UK &
                                    Europe)
                                </h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">April 2022 - June 2022</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px;">
                                <p>Due to sanctions on Russia from, Russia market was isolated and sold to local vendor.
                                    To
                                    Isolate all
                                    data a new system was built, and all current jobs were rebuilt according to the
                                    Russia
                                    market Filters.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Isolated environment from existing servers.
                                </li>
                                <li><i class="fa-li fa fa-angle-right"></i>Created linked servers to pull and push data
                                    from
                                    Salesforce.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Created new Jobs for Russia Market for each
                                    Salesforce Object.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Deployed SSIS jobs to new server.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building Database Views, Models, KPIS and
                                    reports
                                    in Power Bi.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Verification of numbers from various sources
                                    and
                                    SQL vs those in Power BI.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Released reports with user manual and
                                    business
                                    definition.</li>
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>


                </div><!--//item-->
            </div>

            <hr>

            
            <div class="company-partition">
                <div class="company"><a class="company-header" href="###" target="_blank">Fulz Technologies Pvt. Ltd,</a> Pune,
                    Maharashtra
                </div>
                <div class="item">

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">Healthcare - Warehousing and reporting</h3>
                                <div class="time">Data Engineer Associate</div>
                                <div class="time" style="text-align: end;">August 2019 - January 2022</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px; text-align: justify;">
                                <p>Warehousing, reporting and data transformation for Healthcare customer for analytics and BI purpose.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Analyzing and structuring required data for building warehouse architecture.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building warehouse model and tables.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building ETL jobs in Talend and in Azure Data Factory to populate data from various sources such as
                                    Salesforce.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Worked on AI model to Extract information like Medicines, their dosage and time from free text
                                    prescriptions.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building wireframe for reports.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Creating Business definition and technical definition for each measure/ KPI</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building Database Views, Models, KPIS and reports in Power Bi.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Verification of numbers from various sources and SQL vs those in Power BI.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Released reports with user manual and business definition.</li>
                                
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>

                    <br>

                    <div>
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">PoDLabs</h3>
                                <div class="time">Data Engineer Associate</div>
                                <div class="time" style="text-align: end;">December 2019 - January 2022</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px; text-align: justify;">
                                <p>PoDLabs Point of Purchase service that captures responses of the viewers, users and potential buyers to brand, content creator,etc and reports analytics to the content/brand owners.
                                    <a href="www.podlabs.in">www.podlabs.in</a></p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Implemented Deep Neural Networks and ML models for face detection, buyer demographics, sentiments
                                    capturing and facial angle (normal projection)</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Analyzing videos or live interactions per person and identify single emotion value from entire interaction.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Explored Linux and Android OS for the IoT device.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Ported Face recognition C++ based code to Android platform.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Explored and implemented GNSS location data (with augmentation) for submeter accuracy.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Designed and built analytics database for near real time reporting.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Explored Business Intelligence tools (Superset Vs Power BI Vs BIRT)</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Created reports and dashboards with user security implementation.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Unit tested and integrated tested the modules.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Released Installer with release notes.</li>
                                
                            </ul>
                        </div><!--//details-->
                    </div>

                    <br>

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">Facecaf</h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">Jult 2019 - December 2019</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px;">
                                <p>Facecaf was a service to capture shopper conversion in retail stores without any interaction and intrusion. It was
                                    based on face recognition but completely with anatomized data.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Implemented face detection and recognition service to process retail store images every 4 seconds.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Implemented serverless event management code using AWS Lambda.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Designed and created key value store database for processing high velocity high volume updates.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Analyzed Data Integration requirements and designed Talend jobs for populating analytics DB every 1 hr.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Developed Data Integration jobs in Talend OS for DB backup on AWS S3.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Used control tables; Handled errors; Developed notification jobs in Talend.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Explored Power BI, Apache Superset for dashboards and reports in webapp.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Developed detailed reports and summary dashboard with row level security for multi-tenancy environment.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Created and verified integrity testing and stress testing cases.</li>
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>

                    <br>

                    <div>
                        <!---->
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title" style="font-size: 16px;">Taurus Coach Website.
                                </h3>
                                <div class="time">Senior Data Engineer</div>
                                <div class="time" style="text-align: end;">March 2021 - January 2022</div>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <div style="padding-top: 20px;">
                                <p>Taurus coach website includes static pages as well as user consoles profile, payments, etc. Providing interface
                                    for payment, scheduling meetings, and publishing study material to students according to their payment plan.</p>
                            </div>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-angle-right"></i>Deployed Database on azure VM.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Built backend, APIs with Node and Express.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>integrated external tools/services such as Ghost (for content creation), Payment Gateway etc.</li>
                                <li><i class="fa-li fa fa-angle-right"></i>Building Front end using Angular.</li>
                                
                            </ul>
                        </div><!--//details-->
                        <br>
                    </div>


                </div><!--//item-->
            </div>


        </section><!--//section-->

        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-black-tie"></i>Curriculum Projects</h2>
            <hr>
            
            <div>
                <!---->
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="font-size: 16px;">KDKCE, Android App
                        </h3>
                        <div class="time" style="text-align: end;">January 2019 - May 2019</div>
                    </div><!--//upper-row-->
                </div><!--//meta-->
                <div class="details">
                    <div style="padding-top: 20px;">
                        <p>The Android app was developed for KDK College of Engineering as Mega Project. To manage notices, Timetables,
                            exams and all official details of college.</p>
                    </div>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i>Developed android app for students to get all notification and details from college and department.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Designed and created key value store database for processing instant notifications.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Implemented notification using cloud messaging in firebase.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Developed Backend in Angular using angular fire for teachers and management.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Unit tested and integrated tested the modules.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Released app on play store and hosted backend on GoDaddy hosting.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Pushed updates to add more functionality.</li>
                        
                    </ul>
                </div><!--//details-->
                <br>
            </div>

            <hr>

            <div>
                <!---->
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="font-size: 16px;">NSS Web Portal
                        </h3>
                        <div class="time" style="text-align: end;">June 2018 - December 2018</div>
                    </div><!--//upper-row-->
                </div><!--//meta-->
                <div class="details">
                    <div style="padding-top: 20px;">
                        <p>The website was developed in Angular. Official web portal for NSS KDKCE for providing information about NSS
                            team, various activities and schemes.</p>
                    </div>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i>Developed frontend using Angular.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Designed and created key value store database MongoDB.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Implemented backend in node Js for login and adding other details.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Explored and Implemented MEAN stack.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Unit tested and integrated tested the modules.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Explored cPanel and deployed website on hosting using File-Zila</li>
                        
                    </ul>
                </div><!--//details-->
                <br>
            </div>


            
            


        </section>

        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Freelance Projects</h2>
            <hr>
            <div>
                <!---->
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="font-size: 16px;">Mobile Wiki
                        </h3>
                        <div class="time" style="text-align: end;">May 2018 - October 2018</div>
                    </div><!--//upper-row-->
                </div><!--//meta-->
                <div class="details">
                    <div style="padding-top: 20px;">
                        <p>Encyclopedia for all mobiles pricing, reviews, specification, custom ROMs, and installation guide.</p>
                    </div>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i>Developing website front end in Angular and backend in Node.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Designed and created key value store database MongoDB.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Explored and deploying node js app in Salesforce's Heroku.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Deployed MongoDB on mlab.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Integrated and tested modules.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Developed admin portal for tracking and adding mobiles and blogs.</li>
                        
                    </ul>
                </div><!--//details-->
                <br>
            </div>
            <hr>
            <div>
                <!---->
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="font-size: 16px;">Official Website for Tonge's Study Circle
                        </h3>
                        <div class="time" style="text-align: end;">March 2018 - April 2018</div>
                    </div><!--//upper-row-->
                </div><!--//meta-->
                <div class="details">
                    <div style="padding-top: 20px;">
                        <p>Official website for Tonge's Study circle using HTML5, CSS and Bootstrap.</p>
                    </div>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i>Developed and designed website in HTML5, CSS and Bootstrap.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Hosted server and deployed website on GoDaddy's web hosting.</li>
                    </ul>
                </div><!--//details-->
                <br>
            </div>
            
            <hr>
            
            <div>
                <!---->
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title" style="font-size: 16px;">Blood Bank, Android App
                        </h3>
                        <div class="time" style="text-align: end;">January 2018 - February 2018</div>
                    </div><!--//upper-row-->
                </div><!--//meta-->
                <div class="details">
                    <div style="padding-top: 20px;">
                        <p>Blood bank App was developed for blood donation. The app contained list of donors, blood Group, Contact
                            Number, and donation history. And list of eligible persons.</p>
                    </div>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-angle-right"></i>Developing Android app for providing list of users, profile and contact of eligible donors.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Designed and developed database for providing login and registration services using firebase.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Implemented notification using cloud messaging in firebase.</li>
                        <li><i class="fa-li fa fa-angle-right"></i>Unit tested and integrated tested the modules.</li>

                    </ul>
                </div><!--//details-->
                <br>
            </div>

        </section>

    </div><!--//main-body-->
</div>